* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    border: 2px solid #00FFF7;
    border-radius: 10px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.9);
}

/* Container comuni */
#workspaces, #clock, #cpu, #memory, #pulseaudio, #backlight, #network, #battery, #tray {
    padding: 0 12px;
    margin: 5px 3px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

/* Colori Moduli */
#pulseaudio, #backlight { color: #FA39FA; }
#network, #memory, #clock { color: #00FFF7; }
#cpu { color: #FA39FA; }
#battery.critical { color: #ff0000; }

/* --- STILE SLIDER --- */
#pulseaudio-slider, #backlight-slider {
    min-width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

#pulseaudio-slider slider, #backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough, #backlight-slider trough {
    min-height: 8px;
    min-width: 80px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

#pulseaudio-slider highlight, #backlight-slider highlight {
    min-height: 8px;
    border-radius: 5px;
    background-color: #FA39FA;
}

/* Hover e interazioni */
#cpu:hover, #memory:hover, #network:hover, #group-audio:hover, #group-light:hover {
    background: rgba(250, 57, 250, 0.2);
    box-shadow: inset 0 0 10px #FA39FA;
}

#workspaces button { color: #ffffff; padding: 0 5px; }
#workspaces button.active { color: #00FFF7; border-bottom: 2px solid #FA39FA; }

#custom-launcher { color: #00FFF7; font-size: 18px; padding: 0 15px; }
#custom-power { color: #FA39FA; font-size: 18px; padding: 0 15px; }
#custom-power:hover { color: #ff0000; text-shadow: 0 0 5px #ff0000; }
